<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="GetInvolved.css">
</head>
<body>
    <div id="page-container">
        <nav>
            <img src="logo.png" alt="logo">
            <ul>
                <li><a href="About.html">About</a></li>
                <li><a href="NewToWarHammer.html">New to Warhammer</a></li>
                <li><a href="GetInvolved.html">Get Involved</a></li>
                <li><a href="https://www.warhammer.com/en-GB/home?srsltid=AfmBOoqWbcRPxaUEW6bcAYw-eUxLFTPPN17n9O3ZqW-C9zs0R-qAGD4f">Official Site</a></li>
            </ul>
        </nav>
        <div class="hero-image">
            <div class="hero-text">
                <h1>Get started</h1>
            </div>
        </div>

        <div id="main-content">
            <h3>How can I get started?</h3>
            <p>there are many ways for one to get into the Warhammer 40K universe</p><br>
            <p>there are many books, games, and minifigure starter sets to choose from:</p>
            <h4>Minifigures</h4>
            <ul>
                <li><a href="https://www.warhammer.com/en-NZ/shop/warhammer-40000-ultimate-starter-set-2023-eng">Warhammer 40k ultimate starter set:</a></li>
            </ul>
            <h4>Books</h4>
            <ul>
                <li><a href="https://www.blacklibrary.com/">The Black Library</a></li>
                <li><a href="https://www.warhammer.com/en-NZ/shop/The-Infinite-And-The-Divine-pb-2021?srsltid=AfmBOooUDN-Tj1b67_OzQQY0JPFHjDR6gb79r3krXm-Samcv5T2DzNUc">The Infinite-and-the-Divine</a></li>
                <li><a href="https://www.warhammer.com/en-NZ/shop/Gaunts-Ghosts-The-Founding-omnibus-1-2017?queryID=5b44acaca393070015e804995c987c4c">Gaunts Ghosts</a></li>
            </ul>


        </div>
        <div id="form">
            <form>
                <h3>Get the latest news, promotions, hobby tips and more from Games Workshop.</h3>
                <label for="First_Name">First Name:</label><br>
                <input type="text" id="fname" name="fname" required><br>
                <label for="Last_Name">Last Name:</label><br>
                <input type="text" id="lname" name="lname" required><br>
                <label for="Email">Email:</label><br>
                <input type="email" name="email" id="email" required><br>
                <label for="terms">Click to confirm you have read and accept the <a href="https://www.warhammer.com/en-GB/legal#Privacy%20Notice">Terms and Conditions</a></label>
                <input type="checkbox" name="terms" id="terms" required><br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <footer>
            <ul>
                <li><a href="https://www.warhammer.com/en-GB/home?srsltid=AfmBOoqWbcRPxaUEW6bcAYw-eUxLFTPPN17n9O3ZqW-C9zs0R-qAGD4f">Official Site</a></li>
                <li><a href="https://www.blacklibrary.com/">The Black Library</a></li>
                <li><a href="https://citadelcolour.com/">Citadel colour</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>
